@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Poppins", sans-serif;
  font-family: "Neurial Grotesk", sans-serif;
}

body {
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
}

}


input {
  
  @media (max-width:$layout-breakpoint-medium) {
    font-size: $textSemiMedium;

  }
}

a {
  text-decoration: none;
}

a,
button {
    cursor: pointer;
    border: none;
    outline: none;
}

button

input[type="radio"],
input[type="checkbox"] {
  accent-color: #007AFF;
  height: 14px;
  cursor: pointer;
}


//Scrollbar Customization
::-webkit-scrollbar {
  width: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #eee; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}