// Breakpoints
$layout-breakpoint-midMedium: 1300px;
$layout-breakpoint-medium: 960px;
$layout-breakpoint-small: 760px;
$layout-breakpoint-xsmall: 640px;
$layout-breakpoint-xxsmall: 450px;

// Colors
$primary: #007AFF;
$white: #fff;
$secondary: #2D3748;
$black: #1D1D1D;
$textColor: #2D3748;
$inputBorder: #E6E6E6;


//fontSize
$textMedium: 1.5rem; // 24px
$textSemiMedium: 1.125rem; // 18px
$textBase: 1rem;
$textSmall: 0.875rem; //14px
$textVerySmall: 0.75rem; //12px


//font-weight
$fontSemiBold: 600;
$fontBold: 700;
$fontMedium: 500;
$fontNormal: 400;




