@import "../../sass/abstracts/variables";
@import "../../sass/components/global";

.wrapper {
    @extend %flex;
    height: 100vh;
    width: 100vw;

    @media (max-width: $layout-breakpoint-medium){
        flex-direction: column;
    }

    .left {
        width: 50%;
        background-color: $primary;
        height: 100%;
        padding: 2.5rem 0;

        @media (max-width: $layout-breakpoint-medium){
            display: none;
        }

        .top {
            font-size: $textMedium;
            line-height: 1.3;
            width: 50%;
            margin: 0 auto;
            color: $white;
            text-align: center;
        }

        .middle {
            background-image: url(../../assets/Images/bg.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 58%;
            margin: 3rem auto 1rem;
            height: 70%;
            position: relative;

        }

        .imgContainer {
            position: absolute;
            top: -1.3rem;
            
            left: 3rem;
            
            .phoneImg {
                height: 404px;
                max-width: 100%;
                
            }
        }

        .bottom {
            margin-top: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .right {
        width: 50%;
        height: 100%;
        padding: 40px 95px 24px 72px;
        overflow-y: scroll;

        @media (max-width: $layout-breakpoint-medium){
            width: 100%;
            padding: 40px 45px 24px 32px;
        }

        .logoWrapper {
            display: flex;
            align-items: center;
            margin-bottom: 37px;
            .logoText {
                margin-left: 10px;
                font-weight: $fontSemiBold;
                font-size: $textSemiMedium;
                color: $black;
            }
        }

        .formSection {
            .formTitle {
                margin-bottom: 8px;
                font-size: $textMedium;
                font-weight: $fontSemiBold;
                line-height: 140%;
                letter-spacing: -0.02em;
                color: $black;
            }

            .formSubTitle {
                font-size: $textSmall;
                line-height: 140%;
                letter-spacing: -0.02em;
                color: $textColor;
                margin-bottom: 37px;
            }

            .group {
                @extend %flex;

                @media (max-width: $layout-breakpoint-xsmall){
                    flex-direction: column;
                }
    
                .nameGroup {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    width: 45%;

                    @media (max-width: $layout-breakpoint-xsmall){
                        width: 100%;
                    }
 
                }

                .secondNameGroup {
                    @media (max-width: $layout-breakpoint-medium){
                        margin-top: .6rem;
                    }
                }
            }

            .otherGroup {
                margin-top: 1.3rem;

                @media (max-width: $layout-breakpoint-xsmall){
                    
                }

                .firstCheckGroup {
                    @extend %flex;

                    .leftSide {
                        display: flex;
                        align-items: center;
                        gap: .5rem;
                    }

                    .rightSide {
                        color: $primary;
                        font-size: $textSmall;
                    }
                }

                .secondCheckGroup {
                    margin-top: 1rem;
                    display: flex;
                    gap: .5rem;
                    align-items: center;
                }

            }

            .lGroup {
                margin-top: 1.3rem;
                display: flex;
                justify-content: center;
                font-size: $textSmall;

                .loginText {
                    color: $primary;
                    margin-left: .5rem;
                }

            }

            .lastGroup {
                margin-top: 1.3rem;
                display: flex;
                align-items: center;
                gap: 1rem;

                button {
                    background-color: $black;
                    color: $white;
                    border-radius: 5px;
                    padding: 0.7rem;
                    display: flex;
                    align-items: center;
                    gap: .5rem;

                    .btnText {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        .topBtnText {
                            font-size: $textVerySmall;
                        }
                        
                    }
                }
            }
        }

        
    }
}

.ctaGroup {
    @extend %flex;
    margin-top: 1.3rem;

    @media (max-width:$layout-breakpoint-xxsmall) {
        flex-direction: column;
        gap: .5rem;
    }
    
    button {
        @extend %formBtn;

        @media (max-width:$layout-breakpoint-xxsmall) {
            width: 100%;
        }
    }

    .signupBtn {
        background-color: $primary;
        color: $white;
    }

    .googleSigninBtn {
        background-color: $textColor;
        color: $white;

        .textSpan {
            margin-left: 0.5rem;
        }
    }

}


label {
    color: $textColor;
    font-size: $textSmall;
     span {
        color: $primary;
     }
}

input[type="text"],
 input[type="password"], input[type="date"] {
    border: 1px solid $inputBorder;
    height: 48px;
    width: 100%;
    padding: 0.6rem;
}

// @media (min-width: $layout-breakpoint-medium ) and (max-width: $layout-breakpoint-midMedium) {

//     .middle {
//         width: 50% !important;
//         height: 55% !important;

//     }
//     .imgContainer {

//         left: 1.5rem !important;
//         .phoneImg {
//             height: 300px !important;
//         }
//     }
// }